/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
ul,
li {
  list-style: none;
}
h2,
h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5em;
  text-align: center;
}

p {
  padding-bottom: 1em;
}
/* Global */
:root {
  --color-primary: #fdfff6;
  --color-primary-2: #bfdef0;
  --color-accent-1: #251077;
  --color-accent-2: #06053a;
}

html {
  scroll-padding-top: 5em;
  scroll-behavior: smooth;
  background-color: #7fb6d6;
}

body {
  font-family: "Comurier New", Courier, monospace;
  font-size: 1rem;
  line-height: 1.4rem;
  color: var(--color-accent-2);
}
/* @media (min-width: 37em) {
  body {
    font-size: 120%;
    line-height: 140%;
  }
} */

/* Layout */
.wrapper {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

/* Components */

.site-header {
  background-color: var(--color-primary);
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.site-nav {
  padding: 0 0.5rem;
  gap: 1rem;
  display: flex;
  justify-content: flex-end;
}

.site-nav__link {
  color: var(--color-accent-1);
}
.site-nav__link:hover {
  color: var(--color-primary);
  background-color: var(--color-primary-2);
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-top: 3em;
  gap: 1rem;
}

.section {
  height: auto;
  padding: 1em 2em;
  background-color: var(--color-primary-2);
}
.section-titles-img {
  margin: 0.5rem auto;
}
.float-img {
  float: left;
  margin-right: 1em;
}

@media (max-width: 22em) {
  .float-img {
    float: none;
    margin-left: auto;
    display: flex;
    justify-content: center;
  }
}
.cast,
.episodes {
  display: grid;
  grid-template: 4fr / 1fr;
  gap: 2em;
  justify-items: center;
}
@media (min-width: 38em) {
  .cast,
  .episodes {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 50em) {
  .cast {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.site-footer__info {
  background-color: var(--color-primary-2);
  margin: 1em 0 0 0;
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
